*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #0d1137;
    background-size: cover;
    color:#F2AA4C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size:28px ;
    flex-direction: column;

}
.neon-text {
    padding-top: 10px;
    color: #fff; /* Set text color to white */
    text-shadow: 0 0 10px #e50c35, 0 0 20px #e50c35, 0 0 30px #e50c35, 0 0 40px #F2AA4C, 0 0 70px #F2AA4C, 0 0 80px #F2AA4C, 0 0 100px #F2AA4C, 0 0 150px #F2AA4C; /* Text shadow for glowing effect */
  }
  
.players{
    border: 2px solid #F2AA4C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 28px;
    margin-top: 20px;
    
}
.players div{
    padding: 15px 25px;
    border-radius: 15px;
    border: 2px solid #F2AA4C;
}
.players div.active{
    background-color: #F2AA4C;
    color: black;
}
.game-board{
    margin-top: 50px;
    display: grid;
    grid-template-columns:repeat(3, auto);
}
.cell{
    height: 100px;
    width: 100px;
    border: 4px solid #F2AA4C;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}
.cell.X{
    color: #09aecb;/* Set text color to white */
    text-shadow: 0 0 10px #09aecb, 0 0 20px #09aecb, 0 0 30px #09aecb, 0 0 40px #f5f5dc, 0 0 70px #f5f5dc, 0 0 80px #f5f5dc, 0 0 100px #f5f5dc, 0 0 150px #f5f5dc; /* Text shadow for glowing effect */
      }
.cell.O{
    color:#e50c35;/* Set text color to white */
        text-shadow: 0 0 10px #e50c35, 0 0 20px #e50c35, 0 0 30px #e50c35, 0 0 40px #f5f5dc, 0 0 70px #f5f5dc, 0 0 80px #f5f5dc, 0 0 100px #f5f5dc, 0 0 150px #f5f5dc; /* Text shadow for glowing effect */
      }

.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7){
    border-left: none;
}.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9){
    border-right: none;
}
.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9){
    border-bottom: none;
}
/*---------------button------------------*/
.result{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.result h1{
    color: #fff;
    font-size: 50px;
    background: rgba(0,0,100,0.5);
    padding: 15px 25px;
}
.result button{
    font-size: 36px;
    background: #F2AA4C;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 25px;
}
.inactive{
    display: none;
}
.disabled{
    pointer-events: none;
}